
  .primary {
    background-color: #2d8cf0;
    color: white;
  }
  .success {
    background-color: #19be6b;
    color: white;
  }
  .warning {
    background-color: #ff9900;
    color: white;
  }
  .error {
    background-color: #ed3f14;
    color: white;
  }